{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <script src="{% static 'pwa/sw-register.js' %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sarvamangalya is an exclusive matrimony for Vellar
      and Saiva Pillai Community. ">
    <meta name="theme-color" content="#212529">
    <meta name="author" content="">

    <title>
      {% block title %}
      
      {% endblock title %}
    </title>

    {% cache None assets %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!--MD Bootstrap css-->
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    {% endcache %}
    <!-- Custom styles for this template -->
   
    {% block style %}
    
    {% endblock style %}

  </head>

  {% block body %}
  
  {% endblock body %}

  {% cache None js-assets %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  {% endcache %}

  <!--google analytics-->
  {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124418162-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-124418162-1');
    </script>
  {% endif %}
    <!-- Custom scripts for this template -->
    {% block script %}
    
    {% endblock script %}
  
  </body>
  </html>