{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#212529">
    <title>{{ info.profile.name }} - Details Sarvamangalya Matrimony</title>
    <link rel="stylesheet" href="{% static 'vendor/materialize/css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col s8">
          {% if info.image.pro_picture %}
            <img class="responsive-img materialboxed" width="300px" src="{{ info.image.pro_picture.url }}">
          {% else %}
            <img class="responsive-img materialboxed" width="220px" src="{% static 'img/avatar.svg' %}" alt="No image available">
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Name:</h6>
        </div>
        <div class="col s6">
          <p>{{ info.name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Date of Birth:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.dob }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Caste:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.caste.name }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Father Name:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.father }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Mother Name:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.mother }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Height:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.height }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Qualification:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.qualification }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Occupation:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.occupation }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Income:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.income }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Contact Name:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.contact_name }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Contact No:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.contact_no }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Address</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.address }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Star:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.star }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Rasi:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.rasi }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Thisai:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.thisai }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Brothers:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.brothers }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <h6>Sisters:</h6>
        </div>
        <div class="col s6">
          <h6>{{ info.profile.sisters }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s8 l4 offset-s3 offset-l5">
          {% if info.image.jathagam %}
            <a class="waves-effect waves-light btn red" href="{{ info.image.jathagam.url }}" download><i class="material-icons left">cloud_download</i>Jadhagam</a>
          {% else %}
            <a class="btn-flat disabled" href="#!">Jadhagam Not available</a>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="{% static 'vendor/materialize/js/materialize.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, {});
            });
    </script>
</body>
</html>