{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#212529">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sarvamangalya Matrimony</title>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static 'vendor/materialize/css/materialize.min.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/home.css" %}">
</head>
<body>
  <nav class="grey darken-4 hide-on-med-and-up">
    <div class="nav-wrapper ">
      <a href="#" id="brand" class="brand-logo center">Sarvamangalya</a>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
    </div>
  </nav>
  <ul class="sidenav sidenav-fixed" id="nav-mobile">
      <li>
        <div class="user-view">
          <div class="background amber accent-3">
          </div>
          <a href="#">
            <img src="https://ui-avatars.com/api/?rounded=true&name=Sarava&length=1" alt="l" class="circle">
          </a>
          <span class="black-text name">{{ user.name }}</span>
          <span class="black-text email">{{ user.mobile }}</span>
        </div>
      </li>
      <li>
        <a href="#" class="waves-effect waves-green">
          <i class="material-icons">settings</i>Account Settings</a>
      </li>
      <li>
        <a href="{% url 'logout' %}">
          <i class="material-icons">logout</i>Logout</a>
      </li>
    </ul>
    
    <header>
      <div class="row">
        <div class="col s10 m8">
          <h3 class="brown-text header">Profile Listings</h3>
        </div>
      </div>
      <div class="divider"></div>
    </header>
    <main>
        <div class="row">
            {% for person in users %}
            <div class="col s12 m4 l4">
              <a href="{% url 'detail' person.id %}">
                <div class="card">
                  <div class="card-image">
                    {% if person.image.pro_picture %}
                      <img class="img" src="{{ person.image.pro_picture.url }}">
                    {% else %}
                      <img class='img' src="{% static 'img/avatar.svg' %}" alt="No image available">
                    {% endif %}
                  </div>
                  <div class="card-content">
                    <p class="card-title">{{ person.name }}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
        </div>

  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
      <li class="disabled"><i class="material-icons">chevron_left</i></li>
    {% endif %}
    {% for no in users.paginator.page_range %}
      {% if users.number == no %}
        <li class="active"><a href="#!">{{ no }}</a></li>
      {% else %}
        <li class="waves-effect"><a href="?page={{ no }}">{{ no }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li class="waves-effect"><a href="?page={{ users.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
      <li class="disabled"><i class="material-icons">chevron_right</i></li>
    {% endif %}
  </ul>

    </main>
    <script src="{% static 'vendor/materialize/js/materialize.min.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });

    </script>
</body>
</html>