{% extends "sarvam/base.html" %}

{% load static %}

{% block title %}
  Sarvamangalya Matrimony
{% endblock title %}

{% block style %}
  <link href="{% static 'css/agency.css' %}" rel="stylesheet">
{% endblock style %}


{% block body %}
<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Sarvamangalya</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">A matrimony service for</div>
        <div class="intro-heading text-uppercase">selected Hindhu communities</div>
        <div class="row text-center">
          <div class="col-md-4 offset-md-2">
            <a class="btn btn-primary btn-xl btn-block text-uppercase" href={% url 'signup' %}>Create an account</a>
          </div>
          
          <div class="col-md-4">
            <a class="btn btn-primary-outline btn-xl btn-block text-uppercase" href="{% url 'login' %}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Get Started</h2>
          <h3 class="section-subheading text-muted">Follow the simple steps to search for your soulmate</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">1.Register</h4>
          <p class="text-muted">Create an account by fill out the necessary details in registration form to get started.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">2.Add your Profile</h4>
          <p class="text-muted">Once you got registered. Add your profile by paying a small amount of registration fee.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">3.Find matches</h4>
          <p class="text-muted">Start searching for your future and connect with them.</p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Contact -->
  

  <!-- Footer -->
  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Sarvamangalya.com 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  

{% endblock body %}
  

{% block script %}
      <script src="{% static 'js/agency.min.js' %}"></script>
{% endblock script %}