<!DOCTYPE html>
{% load static %}
{% load cache %}
<html lang="en">
<head>
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <link rel="manifest" href="/manifest.json">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Sarvamangalya matrimony - {{ title }} </title>
  {% block head %}
  
  {% endblock head %}
  {% cache None lassests %}
  <link rel="stylesheet" href="{% static 'vendor/materialize/css/materialize.min.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  {% endcache %}
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="section">
        <h3 class="amber-text text-accent-3 center">{{ title }}</h3>
      </div>
      {% if messages %}
      {% for message in messages %}
      <div class="red-text center">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <div class="card col s12 m6 offset-m3">
        <div class="card-content">
            {% block body %}

            {% endblock body %}
        </div>
      </div>
    </div>
    {% block footer %}
    
    {% endblock footer %}
  </div>
  {% cache None ljs %}
  <script src="{% static 'vendor/materialize/js/materialize.min.js' %}"></script>
  {% endcache %}
  {% block script %}
  
  {% endblock script %}
</body>
</html>