{% extends "sarvam/layout.html" %}

{% load static %}

{% block body %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <input type="text" pattern="[0-9]{10}" maxlength="10" class="validate" id="username" name="username" required>
        <label for="username">Enter Phone Number</label>
        <span class="helper-text" data-error="Please enter valid phone number"></span>
      </div>
      <div class="input-field col s10 offset-s1">
        <input type="password" name="password" class="validate" id="pass" required>
        <label for="pass">Password</label>
      </div>
      <div class="input-field col s8 offset-s2">
        <input type="submit" value="Login" class="btn amber waves-effect waves-light">
      </div>
    </div>
  </form>
{% endblock body %}

{% block footer %}
  <p class="text-info col s12 center">Don't have an account?
      <a href="{% url 'signup' %}">Create One</a>
  </p>
{% endblock footer %}





  