{% extends "sarvam/layout.html" %}

{% block head %}
    <meta http-equiv="refresh" content="15; url={% url 'payment' %}">
{% endblock head %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="card col s12">
            <span class="card-title">
                <h3 class="primary-text Red-text">Transaction Failed</h3>
            </span>
            <div class="card-content">
                <p>Your transaction failed. Please make sure you entered correct details.
                    or use the offline method. If anything goes wrong Please contact us.
                    You will be redirect to the payment page. Please wait.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}