{% extends "sarvam/layout.html" %}

{% block head %}
    <meta http-equiv="refresh" content="15; url={% url 'home' %}">
{% endblock head %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="card col s12">
            <span class="card-title">
                <h3 class="primary-text green-text">Transaction Successful</h3>
            </span>
            <div class="card-content">
                <p>Your transaction is successful. Please wait for 15s. you will be redirected to your homepage</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}