{% extends "sarvam/layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="card col s10">
      <div class="card-content">
        <span class="card-title">
          <h4 class="cyan-text text-darken-2">
            Choose Payment Option
          </h4>
        </span>
        <div class="divider"></div>
        <h5>Pay using ATM, Credit cards or Net Banking</h5>
        <form action={{ action }} method="post" name="payuForm">
          {% csrf_token %}
          <input type="hidden" name="key" value="{{ key }}" />
          <input type="hidden" name="hash" value="{{ hash }}" />
          <input type="hidden" name="txnid" value="{{ txnid }}" />
          <input type="hidden" name="amount" value="{{ amount }}">
          <input type="hidden" name="firstname" value="{{ firstname }}">
          <input type="hidden" name="productinfo" value="{{ productinfo }}">
          <input type="hidden" name="email" value="{{ email }}">
          <input type="hidden" name="phone" value="{{ phone }}">
          <input type="hidden" name="surl" value="{{ surl }}">
          <input type="hidden" name="furl" value="{{ furl}}">
          <input type="hidden" name="service_provider" value="payu_paisa">
          <input type="submit" class="btn btn-cyan" value="Online Payment">
        </form>
        <h5>Pay via bank transfer or cash deposit</h6>
        <h6>Bank details</h6>
        <blockquote>
            S.MANICKAVASGAM,<br>
            A/C NO: 12349874234,<br>
            STATE BANK OF INDIA,<br>
            VADEVEESWARAM BRANCH, <br>
            IFSC CODE: SBIN0000223
        </blockquote>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock body %}
