{% extends "sarvam/layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock style %}

{% block body %}
<div class="container">
  <div class="row margin-up">
    <h4 class="primary-text amber-text center">Add your Profile</h4>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-success">
      <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
    {% endfor %} {% endif %}
    <div class="card col s12 m6 offset-m3">
      <div class="card-content">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            {% for entry in form %}
            <div class="input-field col s10 offset-s1">
              {{ entry }} {{ entry.label_tag }}
              <span class="helper-text">
                {{ entry.errors }}
              </span>
            </div>
            {% endfor %}
            <div class="input-field col s8 offset-s2">
              <input type="submit" value="{{ title }}" class="btn amber waves-effect waves-light">
            </div>
        </form>
      </div>
    </div>
  </div>
  <p class="text-info col s12 center">Already have an account?
    <a href="{% url 'login' %}">Login</a>
  </p>
</div>
{% endblock body %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var options = document.querySelectorAll('option');
            var instances = M.FormSelect.init(elems, options);
            M.textareaAutoResize(document.querySelector('.materialize-textarea'));
        });
    </script>
{% endblock script %}
