{% extends "sarvam/layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      {% for field in form %}
      <div class="input-field col s10 offset-s1">
          {{ field }}
          {{ field.label_tag }}
          <span class="helper-text">
              {{ field.errors }}
          </span>
        </div>
      {% endfor %}
      <div class="input-field col s8 offset-s2">
        <input type="submit" value="Create account" class="btn amber waves-effect waves-light">
      </div>
    </div>
  </form>
{% endblock body %}

{% block footer %}
  <p class="text-info col s12 center">Already have an account?
    <a href="{% url 'login' %}">Login</a>
  </p>
{% endblock footer %}


{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    var options = document.querySelectorAll('option');
    var instances = M.FormSelect.init(elems, options);
    var datep = document.querySelectorAll('.datepicker');
    var picker = M.Datepicker.init(datep, {
      format: 'dd-mm-yyyy',
      yearRange : 40,
      clear: 'Clear',
      done: 'Ok'
    });
  });
</script>
{% endblock script %}
    

