{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <link rel="manifest" href="/manifest.json">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'vendor/materialize/css/materialize.min.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
      {% for field in form %}
      <div class="card col s12 m5 l5 offset-l1 offset-m1">
        <div class="card-content">
            <span class="card-title amber-text center">
              {{ title }}
            </span>
          <div class="row">
                <div class="col s12">
                  <img class="materialboxed" src="http://placehold.it/280" width="280" 
                    alt="Profile Picture" {% if field.name == 'pro_picture' %} id="profile"
                     {% else %} id="jathagam" {% endif %}>
                </div>
                <div class="col s12">
                  <div class="file-field input-field">
                    <div class="btn btn-small blue">
                      <span>Browse</span>
                      {{ field }}
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text"
                      {% if field.name == 'pro_picture' %} placeholder="Select Profile Picture"
                      {% else %} placeholder="Select Jathagam" {% endif %}> 
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="row">
          <div class="div col s8 offset-s2">
            <input type="submit" value="Upload Pictures" class="btn amber waves-effect waves-light">
          </div>
        </div>
    </form>
    </div>
  </div>
  <script src="{% static 'vendor/materialize/js/materialize.min.js' %}"></script>
</body>

</html>




