{% extends "sarvam/layout.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/verify.css" %}">
{% endblock head %}

{% block body %}

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input type="number" name="otp" id="otp-field">
        <label for="OtpField">Enter OTP Number</label>
      </div>
      <div class="input-field col s4 offset-s4">
        <input type="submit" value="Verify" class="btn amber waves-effect waves-light" name="verifyotp">
      </div>
    </div>
  </form>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ user.mobile }}" name="mobile">
    <div class="col s6 offset-s3">
      <p>Didn't received sms?</p>
      <input type="submit" name="resend" class="btn cyan waves-effect waves-light" value="Resend OTP">
    </div>
  </form>
{% endblock body %}