
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.header {
  font-weight: 200;
  margin-top: 8px;
  padding-left: 16px;
}

header div.divider {
  height: 3px;
}

.img {
  position: relative;
  float: left;
  width:  200px;
  height: 200px;
  object-fit: scale-down;
}

nav #brand {
  color: #fed136 !important;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}